# Tuple Data Structure
- same as list but only difference is immutable(once we creates tuple object we cannot perform any changes in that object)
- Insertion Order is preserved
- Duplicates are allowed
- Heterogeneous objects are allowed.
- We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also.
- Tuple support both +ve and -ve index. +ve index means forward direction(from left to right) and -ve index means backward direction(from right to left)

### <u>1. Tuple creation</u>

In [1]:
t=()
type(t)

tuple

In [2]:
t1=10,20,30,40
print(t1)
type(t1)

(10, 20, 30, 40)

tuple

In [3]:
t=(10)
type(t)

int

#### Note: We have to take special care about single valued tuple.compulsary the value should ends with comma,otherwise it is not treated as tuple.

In [4]:
t2=(10,)
type(t2)

tuple

In [5]:
list = [10,20,30,40]
t3 = tuple(list)
type(t3)
print(t3)

(10, 20, 30, 40)

### <u>2. Accessing elements of tuple</u>
- using index
- slice operator

In [6]:
t=(10,20,30,40,50,60,70)
t[2]

30

In [7]:
#t[100]--> IndexError: tuple index out of range

In [8]:
t[2:6:1]

(30, 40, 50, 60)

### <u>3. Tuple vs Immutability</u>
- Once we creates tuple,we cannot change its content.(hence tuple objects are immutable)

In [10]:
t=(10,20,30,40,50,60,70)
#t[3]=400
#TypeError: 'tuple' object does not support item assignment

### <u>4. Mathematical operations</u>

In [12]:
t1=(10,20,30)
t2=(40,50,60)

In [13]:
t1+t2

(10, 20, 30, 40, 50, 60)

In [14]:
t1*3

(10, 20, 30, 10, 20, 30, 10, 20, 30)

### <u>5. imp functions</u>

In [15]:
t=(10,20,30,40,50,10,20,20)

In [16]:
len(t)          # To return number of elements present in the tuple

8

In [20]:
t.count(10)    # To return number of occurrences of given element in the tuple

2

In [21]:
t.index(10)    # returns index of first occurrence of the given element.

0

In [22]:
#t.index(70)          # If the specified element is not available then we will get ValueError.
#ValueError: tuple.index(x): x not in tuple

In [24]:
t=(40,20,30,60,50)

In [26]:
sorted(t)            # To sort elements based on default natural sorting order

[20, 30, 40, 50, 60]

In [28]:
sorted(t, reverse=True)

[60, 50, 40, 30, 20]

In [27]:
type(sorted(t))

list

In [29]:
min(t)       # These functions return min and max values according to default natural sorting order.

20

In [30]:
max(t)

60

### <u>6. tuple packing and unpacking</u>

In [32]:
a=10
b=20
c=30
t=a,b,c
print(t)

(10, 20, 30)

In [33]:
t1=(10,20,30,40)
a,b,c,d=t1
print("a=",a,"b=",b,"c=",c,"d=",d)

a= 10 b= 20 c= 30 d= 40

#### Note: At the time of tuple unpacking the number of variables and number of values should be same. ,otherwise we will get ValueError.

## Tuple Comprehension: not supported by python because it getting generator object

In [37]:
t = (x**2 for x in range(1,6))
t

In [38]:
for y in t:         #so we have to iterate by using for loop
    print(y)

1
4
9
16
25