# Dict: if we want to represent a group of individual as a K-V pairs
- duplicates keys are not allowed but values can be duplicated
- heterogenious objects are allowed for both K-V
- insertion oreder is not preserved
- dictionaries are mutable and dynamic
- indexing and slicing are not applicable

### creation

In [43]:
#error=

In [44]:
d={}

In [45]:
d=dict()

In [46]:
d[1]="pawan"
d[2]="kumar"
d[3]="puppala"
d["last"]="enough"

In [47]:
d

{1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}

In [48]:
d={1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}
print(d)
print(type(d))

{1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}
<class 'dict'>

### accessing

In [49]:
d={1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}
d[1]

'pawan'

In [50]:
#d[30]
#KeyError: 30

In [51]:
d["last"]="kalyan"
d

{1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'kalyan'}

In [52]:
d={1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'kalyan'}

In [53]:
del d[2]

In [54]:
d

{1: 'pawan', 3: 'puppala', 'last': 'kalyan'}

In [55]:
d.clear()
d

{}

In [56]:
d

{}

## imp function of dict

In [57]:
l=[(1,"one"),(2,"two"),(3,"three")]

In [58]:
d=dict(l)
d

{1: 'one', 2: 'two', 3: 'three'}

In [59]:
s={1:'pawan',2:'kumar',3:'puppala',4:'kalyan'}

In [60]:
d1 = dict(s)
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}

In [61]:
len(d)

3

In [62]:
d.clear()
d

{}

In [63]:
d1.get(1)

'pawan'

In [64]:
d1.get(4,"guest")

'kalyan'

In [65]:
d1.get(5,"guest")

'guest'

In [66]:
d1.pop(3)

'puppala'

In [67]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.popitem()

(4, 'kalyan')

In [68]:
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala'}

In [69]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.keys()

dict_keys([1, 2, 3, 4])

In [70]:
d1.values()

dict_values(['pawan', 'kumar', 'puppala', 'kalyan'])

In [71]:
d1.items()

dict_items([(1, 'pawan'), (2, 'kumar'), (3, 'puppala'), (4, 'kalyan')])

In [72]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d2 = d1.copy()
d2

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}

In [73]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.setdefault(5,"satya")

'satya'

In [74]:
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan', 5: 'satya'}

In [75]:
d1.setdefault(1,"satya")

'pawan'

In [76]:
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan', 5: 'satya'}

In [77]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan', 5: 'satya'}
d1.update()

## dict comprehensions

In [78]:
squares={i:i*i for i in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [79]:
doubles={i:2**i for i in range(1,6)}
doubles

{1: 2, 2: 4, 3: 8, 4: 16, 5: 32}