In [64]:
10/2

5.0

In [65]:
10.0/2

5.0

In [66]:
10%2

0

In [67]:
10//2

5

In [68]:
10.0//2

5.0

In [69]:
10**2

100

In [70]:
import math

In [76]:
a,b = 10,10.2
a>b

False

In [77]:
a>=b

False

In [78]:
not 10

False

In [79]:
False+False

0

In [84]:
s = int(input("please give the password....!"))
print(type(s))
# if s=="pawan":
#     print("user credentials matched")
# else:
#     print("user credentials not matched")

please give the password....!10
<class 'int'>

In [85]:
eno = int(input("enter employee no.:"))
ename = input("enter employee name:")
esal = float(input("enter employee sal:"))
estatus = bool(input("employee working or not?:"))

print("Employee No.:",eno)
print("Employee Name:",ename)
print("Employee salary:",esal)
print("Employee status:",estatus)

enter employee no.:1
enter employee name:paeawn
enter employee sal:1000
employee working or not?:yes
Employee No.: 1
Employee Name: paeawn
Employee salary: 1000.0
Employee status: True

In [88]:
a,b = [int(x) for x in input("enter values").split()]

print(a)
print(b)

enter values10 20
10
20