In [92]:
p = "p,a,w,a,n,k,u,m,a,r"

In [99]:
l= p.split(',')

In [100]:
l

['p', 'a', 'w', 'a', 'n', 'k', 'u', 'm', 'a', 'r']

In [101]:
len(l)

10

In [94]:
s = "pawan kumar"

In [95]:
s.split(sep=" ", maxsplit=-1)

['pawan', 'kumar']

In [102]:
f = ['pawan', 'kumar']
','.join(f)

'pawan,kumar'

In [103]:
s="Hi How are you"

In [104]:
s.upper()

'HI HOW ARE YOU'

In [105]:
s.lower()

'hi how are you'

In [107]:
s.capitalize()

'Hi how are you'

In [109]:
s.casefold()

'hi how are you'

In [110]:
s.swapcase()

'hI hOW ARE YOU'

In [111]:
s.title()

'Hi How Are You'

In [113]:
name="pawan"
age=24
sal=10000

In [115]:
print("my name is {} age is {} and salary is {}".format(name,age,sal))
print("my name is {1} age is {0} and salary is {2}".format(age,name,sal))
print("my name is {a} age is {b} and salary is {c}".format(a=name,b= age,c=sal))

my name is pawan age is 24 and salary is 10000
my name is pawan age is 24 and salary is 10000
my name is pawan age is 24 and salary is 10000