### Storage Areas
- As the Part of our Applications, we required to store our Data like Customers Information, Billing
Information, Calls Information etc..
- To store this Data, we required Storage Areas. There are 2 types of Storage Areas.
    - Temporary Storage Areas
    - Permanent Storage Areas
    
#### 1.Temporary Storage Areas: These are the Memory Areas where Data will be stored temporarily.
- Eg: Python objects like List, Tuple, Dictionary.
- Once Python program completes its execution then these objects will be destroyed automatically and data will be lost.

#### 2. Permanent Storage Areas: Also known as Persistent Storage Areas. Here we can store Data permanently.
- Eg: File Systems, Databases, Data warehouses, Big Data Technologies etc

### File Systems:
- File Systems can be provided by Local operating System. File Systems are best suitable to store very less Amount of Information.

#### Limitaitons:
- We cannot store huge Amount of Information.
- There is no Query Language support and hence operations will become very complex.
- There is no Security for Data.
- There is no Mechanism to prevent duplicate Data. Hence there may be a chance of Data Inconsistency Problems.

### Databases:
- We can store Huge Amount of Information in the Databases.
- Query Language Support is available for every Database and hence we can perform Database Operations very easily.
- To access Data present in the Database, compulsory username and pwd must be required.Hence Data is secured.
- Inside Database Data will be stored in the form of Tables. While developing Database Table
    - Schemas, Database Admin follow various Normalization Techniques and can implement various
    - Constraints like Unique Key Constrains, Primary Key Constraints etc which prevent Data Duplication. Hence there is no chance of Data Inconsistency Problems.
    
#### Limitations of Databases:
- Database cannot hold very Huge Amount of Information like Terabytes of Data.
- Database can provide support only for Structured Data (Tabular Data OR Relational Data) and cannot provide support for Semi Structured Data (like XML Files) and Unstructured Data (like Video Files, Audio Files, Images etc)
- To overcome these Problems we should go for more Advanced Storage Areas like Big Data Technologies, Data warehouses etc.

### Python Database Programming:
- Sometimes as the part of Programming requirement we have to connect to the database and we have to perform several operations like creating tables, inserting data,updating data,deleting data,selecting data etc.
- We can use SQL Language to talk to the database and we can use Python to send those SQL commands to the database.
- Python provides inbuilt support for several databases like Oracle, MySql, SqlServer, GadFly, sqlite, etc.
- Python has seperate module for each database.
    - Eg: cx_Oralce module for communicating with Oracle database
    - pymssql module for communicating with Microsoft Sql Server

### Standard Steps for Python database Programming:
- Import database specific module
    - import cx_Oracle
    
- Establish Connection between Python Program and database. We can create this Connection object by using connect() function of the module.
    - con = cx_Oracle.connect('scott/tiger@localhost')
    
- To execute our sql queries and to hold results some special object is required, which is nothing but Cursor object. We can create Cursor object by using cursor() method.
    - cursor = con.cursor()
    
- Execute SQL Queries By using Cursor object. For this we can use the following methods
    - cursor.execute(sqlquery)        --> To execute a single sql query
    - cursor.executescript(sqlqueries)--> To execute a string of sql queries seperated by semi-colon ';'
    - cursor.executemany()            --> To execute a Parameterized query
    - Eg: cursor.execute("select * from employees")
        
- commit or rollback changes based on our requirement in the case of DML Queries(insert|update|delete)
    - commit() --> Saves the changes to the database
    - rollback() --> rolls all temporary changes back
    
- Fetch the result from the Cursor object in the case of select queries
    - cursor.fetchone() --> To fetch only one row
    - cursor.fetchall() --> To fetch all rows and it returns a list of rows
    - cursor.fecthmany(n) --> To fetch first n rows
        
        - Eg 1: data =cursor.fetchone()
                print(data)
        - Eg 2: data=cursor.fetchall()
                for row in data:
                    print(row)
                    
- close the resources
    After completing our operations it is highly recommended to close the resources in the reverse
    order of their opening by using close() methods.
    - cursor.close()
    - con.close()

<b>Note: The following is the list of all important methods which can be used for python database
programming.</b>
These methods won't be changed from database to database and same for all databases.
- connect()
- cursor()
- execute()
- executescript()
- executemany()
- commit()
- rollback()
- fetchone()
- fetchall()
- fetchmany(n)
- fetch
- close()

### Working with Oracle DB
- From Python Program if we want to communicate with any database,some translator must be required to translate Python calls into Database specific calls and Database specific calls into Python calls.This translator is nothing but Driver/Connector.
- For Oracle database the name of driver needed is cx_Oracle.
- cx_Oracle is a Python extension module that enables access to Oracle Database.It can be used for both Python2 and Python3.
- It can work with any version of Oracle database like 9,10,11 and 12.

In [2]:
#!pip install cx_Oracle

#### to install software: https://www.oracle.com/in/database/technologies/oracle-database-software-downloads.html
- https://www.youtube.com/watch?v=91GhQSOqGDE&ab_channel=AmitThinks"

### Working with MS Sql Server DB

#### 1. Program to connect with SQL Server database and print its version.

In [1]:
import pyodbc
from sqlalchemy import create_engine

server = 'PAVAN'
dbname = 'COMPANY'
connectionString = "mssql+pyodbc://"+server+"/"+dbname+"?driver=SQL+Server"

engine = create_engine(connectionString)
con = engine.raw_connection()
print(con)
if con != None:
    print("Connection Established Successfully..")
else:
    print("Connection not Established Successfully..")
con.close()

<sqlalchemy.pool.base._ConnectionFairy object at 0x0000027B89A9C9E8>
Connection Established Successfully..

#### 2.Write a program to drop employees table from SQL Server database?

In [46]:
import pyodbc
from sqlalchemy import create_engine

try:
    query = "DROP TABLE Persons"
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    cursor.execute(query)
    con.commit()
    print("Table dropped Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Table dropped Successfully...

#### 3. Write a Program to create employees table in the SQL Server database

In [47]:
import pyodbc
from sqlalchemy import create_engine

try:
    query = """CREATE TABLE Persons (PersonID int,LastName varchar(255),FirstName varchar(255),Salary float,Address varchar(255),
                    City varchar(255))"""
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    cursor.execute(query)
    con.commit()
    print("Table Created Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Table Created Successfully...

#### 4.Write a program to insert a single row in the employees table.

In [48]:
import pyodbc
from sqlalchemy import create_engine

try:
    query = """INSERT INTO Persons (PersonID, LastName, FirstName, Salary, Address, City) 
               VALUES (1,'Pavan Kumar', 'Puppala', 1000, 'WG Dist', 'Bhimavaram');"""
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    cursor.execute(query)
    con.commit()
    print("Data Inserted Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Data Inserted Successfully...

#### Note: While performing DML Operations (insert|update|delte), compulsory we have to use commit() method,then only the results will be reflected in the database.`

#### 5.Write a program to insert multiple rows in the employees table by using executemany() method.

In [52]:
import pyodbc
from sqlalchemy import create_engine

try:
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    query = """INSERT INTO Persons VALUES(%d, %s, %s, %f, %s, %s)"""
    records = [(2,'Surya', 'Kumar',2000, 'madhapur', 'Hyderabad'),(3,'Virat', 'Kohli',3000, 'Kondapur', 'Hyderabad'),
               (4,'Rahul', 'Dravid',4000, 'KPHB', 'Hyderabad')]
    
    cursor.executemany("INSERT INTO Persons VALUES(?, ?, ?, ?, ?, ?)", records)
    con.commit()
    print("Records Inserted Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Records Inserted Successfully...

##### method 2: using pandas

In [53]:
import pyodbc
from sqlalchemy import create_engine


def getConnection():
    try:
        engine = create_engine(connectionString)
        con = engine.raw_connection()
    except pyodbc.DatabaseError as msg:
        if con!=None:
            con.rollback()
            print("There is a problem with sql",msg)
    return con

In [55]:
import pandas as pd

try:
    con = getConnection()

    df = pd.DataFrame(data= [(5,'Raghu', 'Ram', 7000, 'madhapur', 'Hyderabad'),(6,'Robert', 'Drowny', 8000,'madhapur', 'Hyderabad')],
                 columns=['PersonID', 'LastName', 'FirstName', 'Salary','Address', 'City'])

    df.to_sql("Persons", con=engine, schema=None, if_exists='append', index=False, 
              index_label=None, chunksize=None, dtype=None, method=None)
    
    print("Records Inserted Successfully...")
except Exception as msg:
    if con!=None:
        con.rollback()
        print("Exception is due to ",msg)
finally:
    if con:
        con.close()

Records Inserted Successfully...

#### 6.Write a program to insert multiple rows in the employees table with dynamic input from the keyboard?

In [57]:
import pyodbc
from sqlalchemy import create_engine

try:
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    while True:
        pid = int(input("Enter Person id : "))
        lname = input("Enter Person Last Name : ")
        fname = input("Enter Person First Name : ")
        sal = float(input("Enter Person Salary : "))
        address = input("Enter Person Address : ")
        city = input("Enter Person City : ")
        query = """INSERT INTO Persons VALUES(%d, '%s', '%s', %f, '%s', '%s')"""
        cursor.execute(query %(pid,lname,fname,sal,address,city))
        print("Record Inserted Successfully")
        option=input("Do you want to insert one more record[Yes|No] :")
        if option=="No":
            con.commit()
            break
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Enter Person id : 7
Enter Person Last Name : yuvaraj
Enter Person First Name : singh
Enter Person Salary : 6000
Enter Person Address : punjab
Enter Person City : adfgd
Record Inserted Successfully
Do you want to insert one more record[Yes|No] :No

#### 7.Write a program to update employee salaries with increment for the certain range with dynamic input.
- Increment all employee salaries by 500 whose salary < 5000

In [58]:
import pyodbc
from sqlalchemy import create_engine

try:
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    increment = float(input("Enter Increment Salary:"))
    salrange = float(input("Enter Salary Range:"))
    query = "update Persons set Salary=Salary+%f where Salary<%f"
    print(query)
    cursor.execute(query %(increment,salrange))
    print("Records Updated Successfully")
    con.commit()
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Enter Increment Salary:50
Enter Salary Range:5000
update Persons set Salary=Salary+%f where Salary<%f
Records Updated Successfully

#### 8. Write a program to delete employees whose salary greater provided salary as dynamic input?
- delete all employees whose salary > 5000

In [59]:
try:
    cutoff = float(input("Enter the Cut off Salary : "))
    query = """delete from Persons where Salary>%f"""
    con = getConnection()
    cursor = con.cursor()
    cursor.execute(query %(cutoff))
    print("Records Deleted Successfully..")
    con.commit()
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Enter the Cut off Salary : 5000
Records Deleted Successfully..

#### 9. Write a program to select all employees info by using fetchone() method?

In [63]:
try:
    con = getConnection()
    cursor = con.cursor()
    cursor.execute("Select * from Persons")
    row = cursor.fetchone()
    while row is not None:
        print(row)
        row = cursor.fetchone()
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

(1, 'Pavan Kumar', 'Puppala', 1050.0, 'WG Dist', 'Bhimavaram')
(2, 'Surya', 'Kumar', 2050.0, 'madhapur', 'Hyderabad')
(3, 'Virat', 'Kohli', 3050.0, 'Kondapur', 'Hyderabad')
(4, 'Rahul', 'Dravid', 4050.0, 'KPHB', 'Hyderabad')

#### 10. Write a program to select all employees info by using fetchall() method?

In [67]:
try:
    con = getConnection()
    cursor = con.cursor()
    cursor.execute("Select * from Persons")
    data = cursor.fetchall()
    for row in data:
        print(row)
        print("Employee Number:",row[0])
        print("Employee first Name:",row[1])
        print("Employee last Name:",row[2])
        print("Employee Salary:",row[3])
        print("Employee Address:",row[4])
        print("Employee City:",row[5])
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

(1, 'Pavan Kumar', 'Puppala', 1050.0, 'WG Dist', 'Bhimavaram')
Employee Number: 1
Employee first Name: Pavan Kumar
Employee last Name: Puppala
Employee Salary: 1050.0
Employee Address: WG Dist
Employee City: Bhimavaram
(2, 'Surya', 'Kumar', 2050.0, 'madhapur', 'Hyderabad')
Employee Number: 2
Employee first Name: Surya
Employee last Name: Kumar
Employee Salary: 2050.0
Employee Address: madhapur
Employee City: Hyderabad
(3, 'Virat', 'Kohli', 3050.0, 'Kondapur', 'Hyderabad')
Employee Number: 3
Employee first Name: Virat
Employee last Name: Kohli
Employee Salary: 3050.0
Employee Address: Kondapur
Employee City: Hyderabad
(4, 'Rahul', 'Dravid', 4050.0, 'KPHB', 'Hyderabad')
Employee Number: 4
Employee first Name: Rahul
Employee last Name: Dravid
Employee Salary: 4050.0
Employee Address: KPHB
Employee City: Hyderabad

#### 11.Write a program to select employees info by using fetchmany() method and the required number of rows will be provided as dynamic input?

In [68]:
try:
    con = getConnection()
    cursor = con.cursor()
    cursor.execute("Select * from Persons")
    n=int(input("Enter the number of required rows:"))
    data = cursor.fetchmany(n)
    for row in data:
        print(row)
        print("Employee Number:",row[0])
        print("Employee first Name:",row[1])
        print("Employee last Name:",row[2])
        print("Employee Salary:",row[3])
        print("Employee Address:",row[4])
        print("Employee City:",row[5])
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Enter the number of required rows:2
(1, 'Pavan Kumar', 'Puppala', 1050.0, 'WG Dist', 'Bhimavaram')
Employee Number: 1
Employee first Name: Pavan Kumar
Employee last Name: Puppala
Employee Salary: 1050.0
Employee Address: WG Dist
Employee City: Bhimavaram
(2, 'Surya', 'Kumar', 2050.0, 'madhapur', 'Hyderabad')
Employee Number: 2
Employee first Name: Surya
Employee last Name: Kumar
Employee Salary: 2050.0
Employee Address: madhapur
Employee City: Hyderabad

#### Using pandas

In [69]:
import pandas as pd

query = """select * from Persons"""
con = getConnection()
df = pd.read_sql(query, con)
df.head()

   PersonID     LastName FirstName  Salary   Address        City
0         1  Pavan Kumar   Puppala  1050.0   WG Dist  Bhimavaram
1         2        Surya     Kumar  2050.0  madhapur   Hyderabad
2         3        Virat     Kohli  3050.0  Kondapur   Hyderabad
3         4        Rahul    Dravid  4050.0      KPHB   Hyderabad

### Working with Oracle DB

### Working with MYSQL DB

### Working with Postgresql DB

### Working with Mongo DB

MongoDB is a document-based, general purpose, distributed database with scalability and flexibility. And most of the features are free to use.

#### A.	Features of MongoDB
- 1. Rich JSON Documents
    - The most natural and productive way to work with data.
    - Supports arrays and nested objects as values.
    - Allows for flexible and dynamic schemas.
    - The document model maps to the objects in your application code, making data easy to work with.
    
- 2. Powerful query language
    - Rich and expressive query language that allows you to filter and sort by any field, no matter how nested it may be within a document.
    - Support for aggregations and other modern use-cases such as geo-based search, graph search, and text search.
    - Queries are themselves JSON, and thus easily composable. No more concatenating strings to dynamically generate SQL queries.

- 3. All the power of a relational database, and more...
    - Full ACID(Atomicity, Consistency, Isolation, Durability) transactions.
    - Support for joins in queries.
    - Two types of relationships instead of one: reference and embedded.

- 4. Charts
    - The fastest way to create visualizations of MongoDB data.
    - Built for the document model.
    - Visualize live data from any of your MongoDB instances. Available on MongoDB Atlas.

- 5. BI Connector
    - Allow any BI tool that can speak the MySQL protocol to work with your MongoDB data.
    - Leverage the BI tools your organization already uses.
    - Perform federated analytics, combining data from MongoDB and other databases.

- 6. Compass

### B. Installing MongoDB

- 1. Go to the page: https://www.mongodb.com/download-center/community and select the MongoDB installation to download based on your operating system.
- 2. After the installer gets downloaded, double click on the installer file to start installing the application.
- 3. Click on the next button to move to the next step and accept the agreement.
- 4. Select the type of installation: Complete
- 5. Select the features to install.
- 6. Click on next and then configure/customize the way you want the application to be installed.
- 7. Click next and then click on install to start the MongoDB installation.

### C. Starting MongoDB:

- 1. Go the services section and then start the MongoDB service if not already started.
- 2. Now, to check whether the database server is up or not, go to the bin directory of the MongoDB installation and run the ‘mongo’ command as shown. If the command runs successfully, it means that the server is up and running and we can proceed.

### D. Some Commands in Mongo DB:

Different commands can be used for different purposes:
-  show dbs: to show all the databases
-  use <DBName>: creates a new database with the name if not already present or starts using the database given as database name.
-  db.createCollection(‘<collectionName>’) : to create a new collection. Collections are analogous to tables.
-  show collections to show all the collections in a database.
-  db.<collectionName>.insert({“key”:”value”}) : to insert new record into the table.
-  db.<collectionName>.find(): To show all the records from a table.
-  db.<collectionName>.update({“key”:”value”}, ({“key”:”new_value”}) : to update an existing record in the table.
-  db.<collectionName>.remove({“key”:”value”}) : to remove record(s) from the table matching the criteria.

### E. Python Code Implementation:

####  Read Data from Mongo DB
1.Note: If you did not install software ,please install
    <a>https://www.mongodb.com/download-center/community</a>

- 3 types of db's
    - sql(oracle, terdata)
    - No sql( we can communicate withSql or any other languages like mongo db, HBase)

#### Step1 : package which enables us to connect to the MongoDB

In [228]:
import pymongo

#### Step2 : connecting to the locally running MongoDB Instance

In [229]:
mongodb_con = pymongo.MongoClient("mongodb://localhost:27017/")
mongodb_con

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

#### Step3 : connecting to the database named organization present in the mongoDB

In [230]:
db = mongodb_con['crawlerDB']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'crawlerDB')

#### Step4 : obtaining the collection name

In [231]:
collection = db['samsung']

#### Step 5:  creating key value pairs for inserting into the DB

In [232]:
mydict = {"Product": "samsung", "Name": "testName", "Rating": '3'}

#### Step6: inserting record into the collection

In [233]:
x = collection.insert_one(mydict)

#### Finding all the records in the collection named Samsung

In [234]:
reviews = collection.find({})  
reviews

In [235]:
for review in reviews:
    #print(review)
    print("product: "+review['Product']+", "+"Name: "+review['Name']+", "+"Rating: "+review['Rating'])

product: samsung, Name: Sanjeeb  Ranasingh , Rating: 5
product: samsung, Name: Puspanjali  Jally, Rating: 4
product: samsung, Name: Pradeep Putta, Rating: 5
product: samsung, Name: Gaurav Nigam, Rating: 1
product: samsung, Name: Jitendra Kumar  Sharma, Rating: 1
product: samsung, Name: suresh chandra Juttuka, Rating: 5
product: samsung, Name: Flipkart Customer, Rating: 5
product: samsung, Name: Flipkart Customer, Rating: 4
product: samsung, Name: No Name, Rating: No Rating
product: samsung, Name: testName, Rating: 3
product: samsung, Name: testName, Rating: 3
product: samsung, Name: testName, Rating: 3

### F.	Bonus: UI for MongoDB

- If all these black screens(Command Line Interfaces) scare you, then MongoDB has an application called MongoDB Compass which provides a user interface where the databases and corresponding collections can be viewed. It also shows the performance of the database server.
- You just have to download the MongoDB compass installation file and proceed with the installation as we did for MongoDB server.
    - Once the application gets installed, you can run it and connect to the already running database server as shown below:
    - Once you click on connect, it will show the following details:
    - Here, you can select the individual database to see the collections in that database. And similarly, a collection can be selected to see the records inside.
    - Clicking the performance tab shows different metrics related to performance:

##### 1.1 List Databases of Mongo DB

In [236]:
mongodb_con = pymongo.MongoClient("mongodb://localhost:27017/")
mongodb_con.list_database_names()

['admin', 'config', 'crawlerDB', 'local', 'mydemo', 'organization', 'pavandb']

##### 1.2 DB will not created until a collection(table) is created

In [237]:
db = mongodb_con["organization"]

In [238]:
dblist = mongodb_con.list_database_names()
if "organization" in dblist:
    print("db exists")
else:
    print("db not exists")

db exists

##### 1.3 List Collections of Mongo DB

In [239]:
list_colls = db.list_collection_names()
list_colls

['student', 'samsung', 'rows_coll']

##### 1.4 create a collection(aka table)

In [240]:
collection = db['student']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'organization'), 'student')

In [241]:
list_colls = db.list_collection_names()
if "student" in list_colls:
    print("collection exists")
else:
    print("collection does not exists")

collection exists

##### 1.5 Insert Documents(aka Rows) in Collection

In [242]:
mydict = {"name":"pawan","age":"25","qual":"mech","phone":"8143"}
x = collection.insert_one(mydict)
print(x.inserted_id)

6557397ab1ff99d5e1e6d893

In [243]:
mylist = [{"name":"kiran","age":"28","qual":"ecce","phone":"9700"},
         {"name":"vijay","age":"27","qual":"csc","phone":"8125"},
         {"name":"teja","age":"29","qual":"csc","phone":"9600"},
         {"name":"sudheer","age":"26","qual":"mba","phone":"9133"},
         {"name":"swamy","age":"26","qual":"csc","phone":"9123"},
         {"name":"chandu","age":"26","qual":"mech","phone":"8150"}]

In [244]:
y = collection.insert_many(mylist)
print(y.inserted_ids)

[ObjectId('6557397cb1ff99d5e1e6d894'), ObjectId('6557397cb1ff99d5e1e6d895'), ObjectId('6557397cb1ff99d5e1e6d896'), ObjectId('6557397cb1ff99d5e1e6d897'), ObjectId('6557397cb1ff99d5e1e6d898'), ObjectId('6557397cb1ff99d5e1e6d899')]

In [245]:
list_coll = db.list_collection_names()
if "student" in list_coll:
    print("collection exists")
else:
    print("collection does not exists")

collection exists

##### 1.6 Read mongo collection

In [246]:
a = collection.find_one()
print(a)

{'_id': ObjectId('5ed0e52f3312be780bdb6623'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}

In [247]:
for b in collection.find():
    print(b)

{'_id': ObjectId('5ed0e52f3312be780bdb6623'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'_id': ObjectId('5ed0e5333312be780bdb6624'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('5ed0e5333312be780bdb6625'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('5ed0e5333312be780bdb6626'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('5ed0e5333312be780bdb6627'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('5ed0e5333312be780bdb6628'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('5ed0e5333312be780bdb6629'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'_id': ObjectId('5ed105333312be780bdb6637'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('5ed105333312be780bdb6638'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('5ed105333312be780bdb6639'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('5ed105333312be780bdb663a'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('5ed105333312be780bdb663b'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('5ed105333312be780bdb663c'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'_id': ObjectId('608abf1e723a32d98f3b4324'), 'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}
{'_id': ObjectId('608abfab723a32d98f3b4325'), 'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}
{'_id': ObjectId('65571721b1ff99d5e1e6d86a'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86b'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86c'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86d'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86e'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86f'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('65571756b1ff99d5e1e6d870'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'_id': ObjectId('6557397ab1ff99d5e1e6d893'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d894'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d895'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d896'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d897'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d898'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d899'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}

In [248]:
for c in collection.find({},{"_id":0}):
    print(c)

{'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}
{'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}
{'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}

In [249]:
for d in collection.find({},{"_id":0,"name":1,"age":1}):
    print(d)

{'name': 'pawan', 'age': '25'}
{'name': 'kiran', 'age': '28'}
{'name': 'vijay', 'age': '27'}
{'name': 'teja', 'age': '29'}
{'name': 'sudheer', 'age': '26'}
{'name': 'swamy', 'age': '26'}
{'name': 'chandu', 'age': '26'}
{'name': 'kiran', 'age': '28'}
{'name': 'vijay', 'age': '27'}
{'name': 'teja', 'age': '29'}
{'name': 'sudheer', 'age': '26'}
{'name': 'swamy', 'age': '26'}
{'name': 'chandu', 'age': '26'}
{'name': 'asdf', 'age': '52'}
{'name': 'asdf', 'age': '52'}
{'name': 'pawan', 'age': '25'}
{'name': 'kiran', 'age': '28'}
{'name': 'vijay', 'age': '27'}
{'name': 'teja', 'age': '29'}
{'name': 'sudheer', 'age': '26'}
{'name': 'swamy', 'age': '26'}
{'name': 'chandu', 'age': '26'}
{'name': 'pawan', 'age': '25'}
{'name': 'kiran', 'age': '28'}
{'name': 'vijay', 'age': '27'}
{'name': 'teja', 'age': '29'}
{'name': 'sudheer', 'age': '26'}
{'name': 'swamy', 'age': '26'}
{'name': 'chandu', 'age': '26'}

In [250]:
#You get an error if you specify both 0 and 1 values in the same object (except if one of the fields is the _id field):
# for d in collection.find({},{"name":1,"age":0}):
#     print(d)

##### Read mongo collection in dict format

In [251]:
output = []
for q in collection.find():
    print(q)
    output.append({'name':q['name'], 'age':q['age'], 'qual':q['qual'], 'phone':q['phone']})
print(output)

{'_id': ObjectId('5ed0e52f3312be780bdb6623'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'_id': ObjectId('5ed0e5333312be780bdb6624'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('5ed0e5333312be780bdb6625'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('5ed0e5333312be780bdb6626'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('5ed0e5333312be780bdb6627'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('5ed0e5333312be780bdb6628'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('5ed0e5333312be780bdb6629'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'_id': ObjectId('5ed105333312be780bdb6637'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('5ed105333312be780bdb6638'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('5ed105333312be780bdb6639'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('5ed105333312be780bdb663a'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('5ed105333312be780bdb663b'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('5ed105333312be780bdb663c'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'_id': ObjectId('608abf1e723a32d98f3b4324'), 'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}
{'_id': ObjectId('608abfab723a32d98f3b4325'), 'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}
{'_id': ObjectId('65571721b1ff99d5e1e6d86a'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86b'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86c'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86d'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86e'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('65571756b1ff99d5e1e6d86f'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('65571756b1ff99d5e1e6d870'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
{'_id': ObjectId('6557397ab1ff99d5e1e6d893'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d894'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d895'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d896'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d897'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d898'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('6557397cb1ff99d5e1e6d899'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}
[{'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}, {'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}, {'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}, {'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}, {'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}, {'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}, {'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}, {'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}, {'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}, {'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}, {'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}, {'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}, {'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}, {'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}, {'name': 'asdf', 'age': '52', 'qual': 'sds', 'phone': '456'}, {'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}, {'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}, {'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}, {'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}, {'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}, {'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}, {'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}, {'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}, {'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}, {'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}, {'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}, {'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}, {'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}, {'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}]

####  2. load data from Json file

In [252]:
import json

with open("E:/code/5.DataAnalysisOfficial/data/simple.json", 'r') as f:
    data = json.load(f)
data

{'Name': 'Test',
 'Mobile': 12345678,
 'Boolean': True,
 'Pets': ['Dog', 'cat'],
 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}

In [253]:
import pymongo

myclient = pymongo.MongoClient(u"mongodb://localhost:27017/")
mydb = myclient["organization"]
mycoll = mydb["rows_coll"]
mycoll.insert(data)

C:\Users\LENOVO\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('6557398bb1ff99d5e1e6d89b')

In [254]:
for s in mycoll.find({},{"_id":0}):
    print(s)

{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}

#### list the users of database

In [255]:
db.command('usersInfo')

{'users': [{'_id': 'organization.root',
   'userId': UUID('a65101c4-f180-4297-8d64-7d395d4c12f1'),
   'user': 'root',
   'db': 'organization',
   'roles': [{'role': 'readWrite', 'db': 'organization'}],
   'mechanisms': ['SCRAM-SHA-1', 'SCRAM-SHA-256']}],
 'ok': 1.0}

In [256]:
listing = db.command('usersInfo')

for document in listing['users']:
    print(document['user'] +" "+ document['roles'][0]['role'])

root readWrite

#### 3.Read mongo collection in DataFrame format

In [257]:
import pandas as pd
from pymongo import MongoClient

def connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)

    return conn[db]

In [258]:
def read_mongo(db, collection, query={}, host='localhost', port=27017,
               username=None, password=None, no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = connect_mongo(host=host, port=port, username=username, password=password, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

In [259]:
df = read_mongo(db="organization", collection="student")
df.head()

      name age  qual phone
0    pawan  25  mech  8143
1    kiran  28  ecce  9700
2    vijay  27   csc  8125
3     teja  29   csc  9600
4  sudheer  26   mba  9133

In [260]:
df = read_mongo(db="organization",collection='student',
                username="root", password="root")
df.head()

      name age  qual phone
0    pawan  25  mech  8143
1    kiran  28  ecce  9700
2    vijay  27   csc  8125
3     teja  29   csc  9600
4  sudheer  26   mba  9133

In [261]:
import pymongo
import pandas as pd

con = pymongo.MongoClient("mongodb://localhost:27017/")
print(con.list_database_names())
db = con['organization']
print(db.list_collection_names())
coll = db['student']
cursor = coll.find()
print(cursor)

['admin', 'config', 'crawlerDB', 'local', 'mydemo', 'organization', 'pavandb']
['student', 'samsung', 'rows_coll']
<pymongo.cursor.Cursor object at 0x0000027B8883C160>

In [262]:
pd.DataFrame(list(cursor))

                         _id     name age  qual phone
0   5ed0e52f3312be780bdb6623    pawan  25  mech  8143
1   5ed0e5333312be780bdb6624    kiran  28  ecce  9700
2   5ed0e5333312be780bdb6625    vijay  27   csc  8125
3   5ed0e5333312be780bdb6626     teja  29   csc  9600
4   5ed0e5333312be780bdb6627  sudheer  26   mba  9133
5   5ed0e5333312be780bdb6628    swamy  26   csc  9123
6   5ed0e5333312be780bdb6629   chandu  26  mech  8150
7   5ed105333312be780bdb6637    kiran  28  ecce  9700
8   5ed105333312be780bdb6638    vijay  27   csc  8125
9   5ed105333312be780bdb6639     teja  29   csc  9600
10  5ed105333312be780bdb663a  sudheer  26   mba  9133
11  5ed105333312be780bdb663b    swamy  26   csc  9123
12  5ed105333312be780bdb663c   chandu  26  mech  8150
13  608abf1e723a32d98f3b4324     asdf  52   sds   456
14  608abfab723a32d98f3b4325     asdf  52   sds   456
15  65571721b1ff99d5e1e6d86a    pawan  25  mech  8143
16  65571756b1ff99d5e1e6d86b    kiran  28  ecce  9700
17  65571756b1ff99d5e1e6d86c    vijay  27   csc  8125
18  65571756b1ff99d5e1e6d86d     teja  29   csc  9600
19  65571756b1ff99d5e1e6d86e  sudheer  26   mba  9133
20  65571756b1ff99d5e1e6d86f    swamy  26   csc  9123
21  65571756b1ff99d5e1e6d870   chandu  26  mech  8150
22  6557397ab1ff99d5e1e6d893    pawan  25  mech  8143
23  6557397cb1ff99d5e1e6d894    kiran  28  ecce  9700
24  6557397cb1ff99d5e1e6d895    vijay  27   csc  8125
25  6557397cb1ff99d5e1e6d896     teja  29   csc  9600
26  6557397cb1ff99d5e1e6d897  sudheer  26   mba  9133
27  6557397cb1ff99d5e1e6d898    swamy  26   csc  9123
28  6557397cb1ff99d5e1e6d899   chandu  26  mech  8150