# Dict: if we want to represent a group of individual as a K-V pairs
- duplicates keys are not allowed but values can be duplicated
- heterogenious objects are allowed for both K-V
- insertion oreder is not preserved
- dictionaries are mutable and dynamic
- indexing and slicing are not applicable

### creation

In [1]:
#error=

In [2]:
d={}

In [3]:
d=dict()

In [4]:
d[1]="pawan"
d[2]="kumar"
d[3]="puppala"
d["last"]="enough"

In [5]:
d

{1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}

In [6]:
d={1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}
print(d)
print(type(d))

{1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}
<class 'dict'>

### accessing

In [7]:
d={1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'enough'}
d[1]

'pawan'

In [8]:
#d[30]
#KeyError: 30

In [9]:
d["last"]="kalyan"
d

{1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'kalyan'}

In [10]:
d={1: 'pawan', 2: 'kumar', 3: 'puppala', 'last': 'kalyan'}

In [11]:
del d[2]

In [12]:
d

{1: 'pawan', 3: 'puppala', 'last': 'kalyan'}

In [13]:
d.clear()
d

{}

## imp function of dict

In [15]:
l=[(1,"one"),(2,"two"),(3,"three")]

In [16]:
d=dict(l)
d

{1: 'one', 2: 'two', 3: 'three'}

In [17]:
len(d)

3

In [18]:
d.clear()
d

{}

In [19]:
s={1:'pawan',2:'kumar',3:'puppala',4:'kalyan'}

In [20]:
d1 = dict(s)
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}

#### get(): To get the value associated with the key
- d.get(key) If the key is available then returns the corresponding value otherwise returns None.It wont raise any error.
- d.get(key,defaultvalue) If the key is available then returns the corresponding value otherwise returns default value.

In [37]:
d1 = {1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.get(1)

'pawan'

In [38]:
d1.get(5) # will not get any error

In [39]:
d1.get(4,"guest")

'kalyan'

In [40]:
d1.get(5,"guest")

'guest'

#### d.pop(key): It removes the entry associated with the specified key and returns the corresponding value If the specified key is not available then we will get KeyError

In [44]:
d1 = {1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.pop(3)

'puppala'

In [45]:
d1

{1: 'pawan', 2: 'kumar', 4: 'kalyan'}

In [46]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.popitem()

(4, 'kalyan')

In [47]:
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala'}

In [48]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.keys()

dict_keys([1, 2, 3, 4])

In [49]:
d1.values()

dict_values(['pawan', 'kumar', 'puppala', 'kalyan'])

In [50]:
d1.items()

dict_items([(1, 'pawan'), (2, 'kumar'), (3, 'puppala'), (4, 'kalyan')])

In [51]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d2 = d1.copy()
d2

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}

In [52]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan'}
d1.setdefault(5,"satya")

'satya'

In [53]:
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan', 5: 'satya'}

In [54]:
d1.setdefault(1,"satya")

'pawan'

In [55]:
d1

{1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan', 5: 'satya'}

In [60]:
d1={1: 'pawan', 2: 'kumar', 3: 'puppala', 4: 'kalyan', 5: 'satya'}
d1.update()

## dict comprehensions

In [61]:
squares={i:i*i for i in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [62]:
doubles={i:2**i for i in range(1,6)}
doubles

{1: 2, 2: 4, 3: 8, 4: 16, 5: 32}