### Storage Areas
- As the Part of our Applications, we required to store our Data like Customers Information, Billing
Information, Calls Information etc..
- To store this Data, we required Storage Areas. There are 2 types of Storage Areas.
    - Temporary Storage Areas
    - Permanent Storage Areas
    
#### 1.Temporary Storage Areas: These are the Memory Areas where Data will be stored temporarily.
- Eg: Python objects like List, Tuple, Dictionary.
- Once Python program completes its execution then these objects will be destroyed automatically and data will be lost.

#### 2. Permanent Storage Areas: Also known as Persistent Storage Areas. Here we can store Data permanently.
- Eg: File Systems, Databases, Data warehouses, Big Data Technologies etc

### File Systems:
- File Systems can be provided by Local operating System. File Systems are best suitable to store very less Amount of Information.

#### Limitaitons:
- We cannot store huge Amount of Information.
- There is no Query Language support and hence operations will become very complex.
- There is no Security for Data.
- There is no Mechanism to prevent duplicate Data. Hence there may be a chance of Data Inconsistency Problems.

### Databases:
- We can store Huge Amount of Information in the Databases.
- Query Language Support is available for every Database and hence we can perform Database Operations very easily.
- To access Data present in the Database, compulsory username and pwd must be required.Hence Data is secured.
- Inside Database Data will be stored in the form of Tables. While developing Database Table
    - Schemas, Database Admin follow various Normalization Techniques and can implement various
    - Constraints like Unique Key Constrains, Primary Key Constraints etc which prevent Data Duplication. Hence there is no chance of Data Inconsistency Problems.
    
#### Limitations of Databases:
- Database cannot hold very Huge Amount of Information like Terabytes of Data.
- Database can provide support only for Structured Data (Tabular Data OR Relational Data) and cannot provide support for Semi Structured Data (like XML Files) and Unstructured Data (like Video Files, Audio Files, Images etc)
- To overcome these Problems we should go for more Advanced Storage Areas like Big Data Technologies, Data warehouses etc.

### Python Database Programming:
- Sometimes as the part of Programming requirement we have to connect to the database and we have to perform several operations like creating tables, inserting data,updating data,deleting data,selecting data etc.
- We can use SQL Language to talk to the database and we can use Python to send those SQL commands to the database.
- Python provides inbuilt support for several databases like Oracle, MySql, SqlServer, GadFly, sqlite, etc.
- Python has seperate module for each database.
    - Eg: cx_Oralce module for communicating with Oracle database
    - pymssql module for communicating with Microsoft Sql Server

### Standard Steps for Python database Programming:
- Import database specific module
    - import cx_Oracle
    
- Establish Connection between Python Program and database. We can create this Connection object by using connect() function of the module.
    - con = cx_Oracle.connect('scott/tiger@localhost')
    
- To execute our sql queries and to hold results some special object is required, which is nothing but Cursor object. We can create Cursor object by using cursor() method.
    - cursor = con.cursor()
    
- Execute SQL Queries By using Cursor object. For this we can use the following methods
    - cursor.execute(sqlquery)        --> To execute a single sql query
    - cursor.executescript(sqlqueries)--> To execute a string of sql queries seperated by semi-colon ';'
    - cursor.executemany()            --> To execute a Parameterized query
    - Eg: cursor.execute("select * from employees")
        
- commit or rollback changes based on our requirement in the case of DML Queries(insert|update|delete)
    - commit() --> Saves the changes to the database
    - rollback() --> rolls all temporary changes back
    
- Fetch the result from the Cursor object in the case of select queries
    - cursor.fetchone() --> To fetch only one row
    - cursor.fetchall() --> To fetch all rows and it returns a list of rows
    - cursor.fecthmany(n) --> To fetch first n rows
        
        - Eg 1: data =cursor.fetchone()
                print(data)
        - Eg 2: data=cursor.fetchall()
                for row in data:
                    print(row)
                    
- close the resources
    After completing our operations it is highly recommended to close the resources in the reverse
    order of their opening by using close() methods.
    - cursor.close()
    - con.close()

<b>Note: The following is the list of all important methods which can be used for python database
programming.</b>
These methods won't be changed from database to database and same for all databases.
- connect()
- cursor()
- execute()
- executescript()
- executemany()
- commit()
- rollback()
- fetchone()
- fetchall()
- fetchmany(n)
- fetch
- close()

### Working with Oracle DB
- From Python Program if we want to communicate with any database,some translator must be required to translate Python calls into Database specific calls and Database specific calls into Python calls.This translator is nothing but Driver/Connector.
- For Oracle database the name of driver needed is cx_Oracle.
- cx_Oracle is a Python extension module that enables access to Oracle Database.It can be used for both Python2 and Python3.
- It can work with any version of Oracle database like 9,10,11 and 12.

In [2]:
#!pip install cx_Oracle

#### to install software: https://www.oracle.com/in/database/technologies/oracle-database-software-downloads.html
- https://www.youtube.com/watch?v=91GhQSOqGDE&ab_channel=AmitThinks"

### Working with MS Sql Server DB

#### 1. Program to connect with Oracle database and print its version.

In [55]:
import pyodbc
from sqlalchemy import create_engine

server = 'PAVAN'
dbname = 'COMPANY'
connectionString = "mssql+pyodbc://"+server+"/"+dbname+"?driver=SQL+Server"

engine = create_engine(connectionString)
con = engine.raw_connection()
print(con)
if con != None:
    print("Connection Established Successfully..")
else:
    print("Connection not Established Successfully..")
con.close()

<sqlalchemy.pool.base._ConnectionFairy object at 0x0000015C9B8DDAC8>
Connection Established Successfully..

#### 2.Write a Program to create employees table in the oracle database

In [58]:
import pyodbc
from sqlalchemy import create_engine

try:
    query = """CREATE TABLE Persons (PersonID int,LastName varchar(255),FirstName varchar(255),Address varchar(255),
                    City varchar(255))"""
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    cursor.execute(query)
    print("Table Created Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

There is a problem with sql ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'Persons' in the database. (2714) (SQLExecDirectW)")

#### 3.Write a program to drop employees table from oracle database?

In [60]:
import pyodbc
from sqlalchemy import create_engine

try:
    query = "DROP TABLE Persons;"
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    cursor.execute(query)
    print("Table dropped Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Table dropped Successfully...

#### 4.Write a program to insert a single row in the employees table.

In [62]:
import pyodbc
from sqlalchemy import create_engine

try:
    query = """INSERT INTO Persons (PersonID, LastName, FirstName, Address, City) 
               VALUES (1,'Pavan Kumar', 'Puppala', 'WG Dist', 'Bhimavaram');"""
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    cursor.execute(query)
    con.commit()
    print("Data Inserted Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Data Inserted Successfully...

#### Note: While performing DML Operations (insert|update|delte), compulsory we have to use commit() method,then only the results will be reflected in the database.`

#### 5.Write a program to insert multiple rows in the employees table by using executemany() method.

In [76]:
import pyodbc
from sqlalchemy import create_engine

try:
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    query = """INSERT INTO Persons VALUES(%s, %s, %s, %s, %s)"""
    records = [(2,'Ram', 'Krishna', 'madhapur', 'Hyderabad'),(3,'Ravi', 'Kumar', 'Kondapur', 'Hyderabad'),
               (4,'Raghu', 'Ram', 'KPHB', 'Hyderabad')]
    
    cursor.executemany("INSERT INTO Persons VALUES(?, ?, ?, ?, ?)", records)
    con.commit()
    print("Records Inserted Successfully...")
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Records Inserted Successfully...

#### 6.Write a program to insert multiple rows in the employees table with dynamic input from the keyboard?

In [77]:
import pyodbc
from sqlalchemy import create_engine

try:
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    while True:
        pid = int(input("Enter Person id : "))
        lname = input("Enter Person Last Name : ")
        fname = input("Enter Person First Name : ")
        address = input("Enter Person Address : ")
        city = input("Enter Person City : ")
        query = """INSERT INTO Persons VALUES(?, ?, ?, ?, ?)"""
        cursor.execute(query %(pid,lname,fname,address,city))
        print("Record Inserted Successfully")
        option=input("Do you want to insert one more record[Yes|No] :")
        if option=="No":
            con.commit()
            break
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Enter Person id : 5
Enter Person Last Name : asdf
Enter Person First Name : adffd
Enter Person Address : fkjnlfdk
Enter Person City : dskjf

TypeError: not all arguments converted during string formatting

#### 7.Write a program to update employee salaries with increment for the certain range with dynamic input.
- Increment all employee salaries by 500 whose salary < 5000

In [81]:
import pyodbc
from sqlalchemy import create_engine

try:
    engine = create_engine(connectionString)
    con = engine.raw_connection()
    cursor = con.cursor()
    increment = float(input("Enter Increment Salary:"))
    salrange = float(input("Enter Salary Range:"))
    query = "update product set UnitPrice=UnitPrice+%f where UnitPrice<%f"
    print(query)
    cursor.execute(query %(increment,salrange))
    print("Records Updated Successfully")
    con.commit()
except pyodbc.DatabaseError as msg:
    if con!=None:
        con.rollback()
        print("There is a problem with sql",msg)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Enter Increment Salary:2
Enter Salary Range:10
update product set UnitPrice=UnitPrice+%f where UnitPrice<%f
Records Updated Successfully

#### 8. Write a program to delete employees whose salary greater provided salary as dynamic input?
- delete all employees whose salary > 5000

In [44]:
import pyodbc
from sqlalchemy import create_engine

server = 'PAVAN'
dbname = 'ibank'
connectionString = "mssql+pyodbc://"+server+"/"+dbname+"?driver=SQL+Server"

engine = create_engine(connectionString)
con = engine.raw_connection()
cursor = con.cursor()

cursor.fetchmany()

[(101, 'Praveen S', 'VIZAG', 'BR1', 'SB', datetime.datetime(2011, 1, 1, 0, 0), Decimal('164700.0000'), Decimal('188400.0000'), 'I')]